<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./home.js"></script>   <!-- Here the src path is relative to the assets folder for both css and js files -->
</head>
<body>
    <h1 id="page-heading"> <div class="fa fa-address-book"></div>  Contact List</h1>
    <ul id="contact-list">
        <% for(let i of contact_list) { %>
        <li class="contact-item"> 
            <p class="contact-name"><%= i.name %> </p> 
            <p class="contact-phone"><%= i.phone %></p>
            <a href=""><div class="delete-button fa fa-trash"></div></a>
        </li>
        <% } %>
    </ul>

    <form action="/create-contact" method="post"> 
        <input type="text" name="name" required>
        <input type="text" name="phone" required>
        <button type="submit">Add Contact</button>
    </form>
</body>
</html>