/*-----header-----*/
#main-header {
    height: 400px;
}

#about-site {
    color: grey;
}

header h1
{
    font-family: sans-serif;
}


/*-----main-----*/
h1 {
    font-size: 40px;
    color: darkslategrey;
}

p {
    color: dimgrey;
}

#blog-content {
    width: 1000px;
}

.h-style {
    color: darkslategrey;
    font-size: 1.33rem;
}


